body {
    background-image: url("/library/app/views/img/Abstract-blue-waves_2560x1600.jpg");
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #ffeba7;
    background-color: #1f2029;
    margin: 0;
    padding: 0;
  }
  h4 {
      text-align: center;
  }
  p {
    text-align: center;
  }
  .form-container {
    margin-top: 60px;
    padding: 20px;
    background-color: #2b2e38;
    border-radius: 8px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group input {
    border: 1px solid #555;
  }
  .form-style {
    padding: 13px 20px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  .form-style:focus,
  .form-style:active {
    border: none;
    outline: none;
  }
  .btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-registrar,
  .btn-volver {
    border-radius: 4px;
    height: 48px; /* Misma altura que el input */
    line-height: 48px; /* Para centrar el texto verticalmente */
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 1px;
    background-color: #ffeba7;
    border: none;
    color: #1f2029;
    transition: all 0.2s ease-in-out;
    margin: 0 10px; /* Espacio entre los botones */
    text-decoration: none; /* Quitar la línea subrayada */
  }
  .btn-registrar:hover,
  .btn-volver:hover {
    background-color: #000000;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }

  .error {
    color:red;

  }

  .escondido {
    display: none;
  }